# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run/*
libs/*
build.bat

# Files from Forge MDK
forge*changelog.txt

gltf/*
src/main/java/mchhui/hebridge